{% extends "base.html" %}
{% block title %}EHL: About Us{% endblock %}
{% block links %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/about-us">About Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/meat-and-potatoes">Meat & Potatoes</a>
</li>
{% endblock %}
{% block body %}
<section class="banner" id="about-us-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Team EagleHasLanded Presents:</h5>
                <p class="title">About Us:<br>What's behind the app?</p>
                <p>Who we are; How we did it; Challenges we faced; Our outreach; Our mentors; All coming up:</p>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>
<br>
<section id="profiles">
    <h1 class="text-primary"><b>>> T H E<br>>> T E A M</b></h1>
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_eyes.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Eyes</u></b></h4>
                <p><b>Role:</b> Front-End</p>
                <p><b>Challenges:</b> HTML, Time-Management, User Experience</p>
                <p><b>Skills:</b> Communication, Creativity, Design</p>
            </div>
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_wings.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Wings</u></b></h4>
                <p><b>Role:</b> Back-end, Leader</p>
                <p><b>Challenges:</b> Javascript, Cesium</p>
                <p><b>Skills:</b> Leadership, Task Distribution</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_beak.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Beak</u></b></h4>
                <p><b>Role:</b> (())</p>
                <p><b>Challenges:</b> (())</p>
                <p><b>Skills:</b> (())</p>
            </div>
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_brain.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Brains</u></b></h4>
                <p><b>Role:</b> (())</p>
                <p><b>Challenges:</b> (())</p>
                <p><b>Skills:</b> (())</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_claw.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Claws</u></b></h4>
                <p><b>Role:</b> (())</p>
                <p><b>Challenges:</b> (())</p>
                <p><b>Skills:</b> (())</p>
            </div>
            <div class="col">
                ((teacher))
            </div>
        </div>
        <div class="row">
            <div class="col">
                ((omar))
            </div>
            <div class="col">
                ((a&m grad))
            </div>
        </div>
    </div>
</section>
{% endblock %}