{% extends "base.html" %}
{% block title %}EHL: About Us{% endblock %}
{% block links %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/about-us">About Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/meat-and-potatoes">Meat & Potatoes</a>
</li>
{% endblock %}
{% block body %}
<section class="banner" id="about-us-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Team EagleHasLanded Presents:</h5>
                <p class="title">About Us:<br>What's behind the app?</p>
                <p>Who we are; How we did it; Challenges we faced; Our outreach; Our mentors; All coming up:</p>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>
<br>
<section id="profiles">
    <h1 class="text-primary"><b>>> T H E<br>>> T E A M</b></h1>
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_eyes.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Eyes</u></b></h4>
                <p><b>Role:</b> Front-End</p>
                <p><b>Challenges:</b> HTML, Time-Management, User Experience</p>
                <p><b>Skills:</b> Communication, Creativity, Design</p>
            </div>
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_wings.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Wings</u></b></h4>
                <p><b>Role:</b> Back-end, Leader</p>
                <p><b>Challenges:</b> Javascript, Cesium</p>
                <p><b>Skills:</b> Leadership, Task Distribution</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_beak.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Beak</u></b></h4>
                <p><b>Role:</b> Outreach, Front-end</p>
                <p><b>Challenges:</b> Coordinating Events, Interacting with the Website</p>
                <p><b>Skills:</b> Public Speaking, Communication</p>
            </div>
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_brain.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Brains</u></b></h4>
                <p><b>Role:</b> Back-end</p>
                <p><b>Challenges:</b> GMAT, Cesium</p>
                <p><b>Skills:</b> Being Able to Ask for Help, Web Design</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static',filename='/images/eagle_claw.png') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Claws</u></b></h4>
                <p><b>Role:</b> Front-end</p>
                <p><b>Challenges:</b> Running the Website, JavaScript</p>
                <p><b>Skills:</b> Problem-Solving, Organisation</p>
            </div>
            <div class="col">
                <img src="{{ url_for('static',filename='/images/falcon.jpg') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Falcon</u></b></h4>
                <p><b>Role:</b> Mentor</p>
                <p><b>Position:</b> Teacher</p>
                <p><b>Help:</b> Ensuring Proper Communication and Organisation</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static',filename='/images/harpy_eagle.webp') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Harpy Eagle</u></b></h4>
                <p><b>Role:</b> Mentor</p>
                <p><b>Position:</b> NASA Employee</p>
                <p><b>Skills:</b> Guiding Through Ensuring Rubric Compliance</p>
            </div>
            <div class="col">
                <img src="{{ url_for('static',filename='/images/golden_eagle.jpg') }}" width="300" height="300"><br>
                <h4 class="text-primary"><b>THE <u>Golden Eagle</u></b></h4>
                <p><b>Role:</b> Mentor</p>
                <p><b>Position:</b> Student at Texas A&M</p>
                <p><b>Skills:</b> Guiding Through Web Functionality</p>
            </div>
        </div>
    </div>
</section>
<section id="outreach">
    <h1 class="text-primary"><b>>> O U T R E A C H<br>>> E V E N T S</b></h1>
    <div id="outreach-container">
        <h4 class="text-primary"><b>Coding <u>Camp</u></b></h4>
        <br>
        <img src="{{ url_for('static',filename='/images/coding_camp_1.jpg') }}" width="300" height="300">
        <img src="{{ url_for('static',filename='/images/coding_camp_2.jpg') }}" width="300" height="300"><br>
        <br>
        <p><b>Date:</b> <i>11/02/2024</i></p>
        <p><b>Explanation:</b> We hosted a weekend coding camp for Elementary and Middle Schoolers to teach them how to code. As part of it, we presented what we had done so far in the App Development Challenge to show what the code they were doing could be applied to.</p>
        <br>
        <br>
        <br>
        <h4 class="text-primary"><b><u>QuanTime</u></b></h4>
        <br>
        <img src="{{ url_for('static',filename='/images/quantime.jpg') }}" width="300" height="300">
        <br>
        <p><b>Date:</b> <i>11/02/2024</i></p>
        <p><b>Explanation:</b> Amidst another event, we showed some interested Middle Schoolers QuanTime and they loved it. We also did something similar for some of the students in the AP CSA class.</p>
        <br>
        <br>
        <br>
        <h4 class="text-primary"><b><u>STEAM</u> Night</b></h4>
        <br>
        <img src="{{ url_for('static',filename='/images/steam_night_1.jpg') }}" width="300" height="300">
        <img src="{{ url_for('static',filename='/images/steam_night_2.jpg') }}" width="300" height="300">
        <img src="{{ url_for('static',filename='/images/steam_night_3.jpg') }}" width="300" height="300"><br>
        <br>
        <p><b>Date:</b> <i>11/06/2024</i></p>
        <p><b>Explanation:</b> Science, Technology, Engineering, Art, and Math Night: At a school event showing off the school's STEAM program, we opened the night with a presentation on the App Development Challenge to about a hundred people and we talked about it more in our own smaller Coding Club presentation.</p>
        <br>
        <br>
        <br>
    </div>
</section>
{% endblock %}