.banner {
    color: white;
    padding-top: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}

#index-banner {
    background-image: url("../images/premium_photo-1664303510541-2eedfe6bdb91 (1).png");
}

#about-us-banner {
    background-image: url("../images/Bald-eagle.png");
}

.title {
    font-size: 40px;
    font-weight: 600;
}

#mission {
    padding-top: 5%;
    padding-left: 0%;
    font-family: "Monaco", monospace;
}

#mission div {
    padding-left: 0%;
    padding-right: 0%;
}

#mission div div {
    width: 100vw;
}

#mission div div h4 {
    padding-top: 2%;
}

#mission div div p {
    padding-top: 1%;
}

#mission-text {
    margin-left: 5%;
    margin-right: 5%;
}

#profiles {
    padding-top: 5%;
    padding-left: 5%;
    font-family: "Monaco", monospace;
}

#profiles div {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2vh;
}

#profiles div div {
    width: 100vw;
    padding-bottom: 5vh;
}

#profiles div div div img {
    object-fit: cover;
}

#profiles div div div h4{
    margin-top: 10px;
}